.wufoo-fieldset,
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.wufoo-legend,
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.wufoo-label,
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}
.input-group .btn {
  min-width: 64px;
  height: 64px;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px\9;
  line-height: normal;
}
input[type="file"] {
  display: block;
}
input[type="range"] {
  display: block;
  width: 100%;
}
select[multiple],
select[size] {
  height: auto;
}
input[type="radio"]:focus,
input[type="checkbox"]:focus,
input[type="file"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
output {
  display: block;
  padding-top: 12px;
  font-size: 14px;
  line-height: 1.714285;
  color: #555;
}
.form-control,
.wufoo .field {
  display: block;
  width: 100%;
  height: 64px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px 24px;
  font-size: 14px;
  line-height: 1.714285;
  color: #555;
  background-color: #f5f5f5;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}
.form-control::-moz-placeholder,
.wufoo .field::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control:-ms-input-placeholder,
.wufoo .field:-ms-input-placeholder {
  color: #999;
}
.form-control::-webkit-input-placeholder,
.wufoo .field::-webkit-input-placeholder {
  color: #999;
}
.form-control::-ms-expand,
.wufoo .field::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control[disabled],
.form-control[readonly],
.wufoo .field[disabled],
.wufoo .field[readonly],
fieldset[disabled] .form-control,
fieldset[disabled] .wufoo .field {
  background-color: #eee;
  opacity: 1;
}
.form-control[disabled],
.wufoo .field[disabled],
fieldset[disabled] .form-control,
fieldset[disabled] .wufoo .field {
  cursor: not-allowed;
}
.form-control.textarea,
.wufoo .field.textarea,
textarea.form-control,
textarea.wufoo .field {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"].form-control,
  input[type="time"].form-control,
  input[type="datetime-local"].form-control,
  input[type="month"].form-control {
    line-height: 64px;
  }
  .input-group-sm input[type="date"],
  .input-group-sm input[type="time"],
  .input-group-sm input[type="datetime-local"],
  .input-group-sm input[type="month"],
  input[type="date"].input-sm,
  input[type="time"].input-sm,
  input[type="datetime-local"].input-sm,
  input[type="month"].input-sm {
    line-height: 42px;
  }
  .input-group-lg input[type="date"],
  .input-group-lg input[type="time"],
  .input-group-lg input[type="datetime-local"],
  .input-group-lg input[type="month"],
  input[type="date"].input-lg,
  input[type="time"].input-lg,
  input[type="datetime-local"].input-lg,
  input[type="month"].input-lg {
    line-height: 74px;
  }
}
.form-group {
  margin-bottom: 15px;
}
.checkbox,
.radio {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}
.checkbox .wufoo-label-checkbox-radio,
.checkbox label,
.radio .wufoo-label-checkbox-radio,
.radio label {
  min-height: 23px;
  margin-bottom: 0;
  font-family: DINNextLTPro-Medium, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  letter-spacing: 0.34px;
  cursor: pointer;
}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  position: absolute;
  margin-top: 4px\9;
  margin-left: -20px;
}
.checkbox + .checkbox,
.radio + .radio {
  margin-top: -5px;
}
.checkbox-inline,
.radio-inline {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox-inline label,
.radio-inline label {
  font-family: DINNextLTPro-Medium, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.checkbox-inline + .checkbox-inline,
.radio-inline + .radio-inline {
  margin-top: 0;
  margin-left: 10px;
}
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
input[type="radio"].disabled,
input[type="radio"][disabled],
input[type="checkbox"].disabled,
input[type="checkbox"][disabled] {
  cursor: not-allowed;
}
.checkbox-inline.disabled,
.radio-inline.disabled,
fieldset[disabled] .checkbox-inline,
fieldset[disabled] .radio-inline {
  cursor: not-allowed;
}
.checkbox.disabled label,
.radio.disabled label,
fieldset[disabled] .checkbox label,
fieldset[disabled] .radio label {
  cursor: not-allowed;
}
.form-control-static {
  min-height: 37px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0;
}
.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}
.input-sm {
  height: 42px;
  padding: 5px 20px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 0;
}
select.input-sm {
  height: 42px;
  line-height: 42px;
}
select[multiple].input-sm,
textarea.input-sm {
  height: auto;
}
.form-group-sm .form-control {
  height: 42px;
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.form-group-sm select.form-control {
  height: 42px;
  line-height: 42px;
}
.form-group-sm select[multiple].form-control,
.form-group-sm textarea.form-control {
  height: auto;
}
.form-group-sm .form-control-static {
  height: 42px;
  min-height: 35px;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 1.5;
}
.input-lg {
  height: 74px;
  padding: 24px 24px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
}
select.input-lg {
  height: 74px;
  line-height: 74px;
}
select[multiple].input-lg,
textarea.input-lg {
  height: auto;
}
.form-group-lg .form-control {
  height: 74px;
  padding: 24px 24px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 0;
}
.form-group-lg select.form-control {
  height: 74px;
  line-height: 74px;
}
.form-group-lg select[multiple].form-control,
.form-group-lg textarea.form-control {
  height: auto;
}
.form-group-lg .form-control-static {
  height: 74px;
  min-height: 41px;
  padding: 25px 24px;
  font-size: 18px;
  line-height: 1.3333333;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 80px;
}
.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  pointer-events: none;
}
.form-group-lg .form-control + .form-control-feedback,
.input-group-lg + .form-control-feedback,
.input-lg + .form-control-feedback {
  width: 74px;
  height: 74px;
  line-height: 74px;
}
.form-group-sm .form-control + .form-control-feedback,
.input-group-sm + .form-control-feedback,
.input-sm + .form-control-feedback {
  width: 42px;
  height: 42px;
  line-height: 42px;
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block,
.has-success .radio,
.has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label,
.has-success.radio-inline label {
  color: #3c763d;
}
.has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.has-success .input-group-addon {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.has-success .form-control-feedback {
  color: #3c763d;
}
.has-warning .checkbox,
.has-warning .checkbox-inline,
.has-warning .control-label,
.has-warning .help-block,
.has-warning .radio,
.has-warning .radio-inline,
.has-warning.checkbox label,
.has-warning.checkbox-inline label,
.has-warning.radio label,
.has-warning.radio-inline label {
  color: #8a6d3b;
}
.has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}
.has-warning .input-group-addon {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #8a6d3b;
}
.has-warning .form-control-feedback {
  color: #8a6d3b;
}
.has-error .checkbox,
.has-error .checkbox-inline,
.has-error .control-label,
.has-error .help-block,
.has-error .radio,
.has-error .radio-inline,
.has-error.checkbox label,
.has-error.checkbox-inline label,
.has-error.radio label,
.has-error.radio-inline label {
  color: #a94442;
}
.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-error .input-group-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.has-error .form-control-feedback {
  color: #a94442;
}
.has-feedback label ~ .form-control-feedback {
  top: 28px;
}
.has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #404040;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  .form-inline .form-control-static {
    display: inline-block;
  }
  .form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
  }
  .form-inline .input-group .form-control,
  .form-inline .input-group .input-group-addon,
  .form-inline .input-group .input-group-btn {
    width: auto;
  }
  .form-inline .input-group > .form-control {
    width: 100%;
  }
  .form-inline .control-label {
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .checkbox,
  .form-inline .radio {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .checkbox label,
  .form-inline .radio label {
    padding-left: 0;
  }
  .form-inline .checkbox input[type="checkbox"],
  .form-inline .radio input[type="radio"] {
    position: relative;
    margin-left: 0;
  }
  .form-inline .has-feedback .form-control-feedback {
    top: 0;
  }
}
.form-horizontal .checkbox,
.form-horizontal .checkbox-inline,
.form-horizontal .radio,
.form-horizontal .radio-inline {
  padding-top: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.form-horizontal .checkbox,
.form-horizontal .radio {
  min-height: 35px;
}
.form-horizontal .form-group {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    padding-top: 12px;
    margin-bottom: 0;
    text-align: right;
  }
}
.form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}
@media (min-width: 768px) {
  .form-horizontal .form-group-lg .control-label {
    padding-top: 25px;
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .form-horizontal .form-group-sm .control-label {
    padding-top: 6px;
    font-size: 12px;
  }
}
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  position: relative;
  bottom: -3px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: url(../images/chk-off-on.svg);
  background-position: 0 0;
}
input:checked + label:before {
  background-position: -20px 0;
}
input[type="radio"] + label:before {
  background-image: url(../images/rdio-off-on.svg);
}
.btn {
  display: inline-block;
  padding: 9.35px 24px;
  margin-bottom: 0;
  font-family: DINNextLTPro-Medium, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.9;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.34px;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 0;
  border-radius: 0;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.focus,
.btn:focus,
.btn:hover {
  color: #000;
  text-decoration: none;
}
.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}
a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .btn {
    padding: 11px 24px;
    font-size: 14px;
    line-height: 1.9;
    border-radius: 0;
  }
}
.btn-default {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.btn-default.focus,
.btn-default:focus {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.btn-default:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.btn-default.active.focus,
.btn-default.active:focus,
.btn-default.active:hover,
.btn-default:active.focus,
.btn-default:active:focus,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.btn-default.active,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled.focus,
.btn-default.disabled:focus,
.btn-default.disabled:hover,
.btn-default[disabled].focus,
.btn-default[disabled]:focus,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default.focus,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.btn-default .badge {
  color: rgba(0, 0, 0, 0.04);
  background-color: #000;
}
.btn-primary {
  color: #fff;
  background-color: #df4d52;
  border-color: #db373d;
}
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #d3262c;
  border-color: #7d161a;
}
.btn-primary:hover {
  color: #fff;
  background-color: #d3262c;
  border-color: #b52126;
}
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #d3262c;
  border-color: #b52126;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #b52126;
  border-color: #7d161a;
}
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: #df4d52;
  border-color: #db373d;
}
.btn-primary .badge {
  color: #df4d52;
  background-color: #fff;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success.focus,
.btn-success:focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625;
}
.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success.active,
.btn-success:active,
.open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success:active.focus,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
.btn-success.active,
.btn-success:active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled.focus,
.btn-success.disabled:focus,
.btn-success.disabled:hover,
.btn-success[disabled].focus,
.btn-success[disabled]:focus,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success.focus,
fieldset[disabled] .btn-success:focus,
fieldset[disabled] .btn-success:hover {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #fff;
}
.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info.focus,
.btn-info:focus {
  color: #fff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}
.btn-info:hover {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info.active,
.btn-info:active,
.open > .dropdown-toggle.btn-info {
  color: #fff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info:active.focus,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover {
  color: #fff;
  background-color: #269abc;
  border-color: #1b6d85;
}
.btn-info.active,
.btn-info:active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled.focus,
.btn-info.disabled:focus,
.btn-info.disabled:hover,
.btn-info[disabled].focus,
.btn-info[disabled]:focus,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info.focus,
fieldset[disabled] .btn-info:focus,
fieldset[disabled] .btn-info:hover {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #fff;
}
.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning.focus,
.btn-warning:focus {
  color: #fff;
  background-color: #ec971f;
  border-color: #985f0d;
}
.btn-warning:hover {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning.active,
.btn-warning:active,
.open > .dropdown-toggle.btn-warning {
  color: #fff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning:active.focus,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open > .dropdown-toggle.btn-warning.focus,
.open > .dropdown-toggle.btn-warning:focus,
.open > .dropdown-toggle.btn-warning:hover {
  color: #fff;
  background-color: #d58512;
  border-color: #985f0d;
}
.btn-warning.active,
.btn-warning:active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled.focus,
.btn-warning.disabled:focus,
.btn-warning.disabled:hover,
.btn-warning[disabled].focus,
.btn-warning[disabled]:focus,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning.focus,
fieldset[disabled] .btn-warning:focus,
fieldset[disabled] .btn-warning:hover {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger.focus,
.btn-danger:focus {
  color: #fff;
  background-color: #c9302c;
  border-color: #761c19;
}
.btn-danger:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger.active,
.btn-danger:active,
.open > .dropdown-toggle.btn-danger {
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger:active.focus,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open > .dropdown-toggle.btn-danger.focus,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-danger:hover {
  color: #fff;
  background-color: #ac2925;
  border-color: #761c19;
}
.btn-danger.active,
.btn-danger:active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled.focus,
.btn-danger.disabled:focus,
.btn-danger.disabled:hover,
.btn-danger[disabled].focus,
.btn-danger[disabled]:focus,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger.focus,
fieldset[disabled] .btn-danger:focus,
fieldset[disabled] .btn-danger:hover {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #fff;
}
.btn-link {
  font-weight: 400;
  color: #df4d52;
  border-radius: 0;
}
.btn-link,
.btn-link.active,
.btn-link:active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  border-color: transparent;
}
.btn-link:focus,
.btn-link:hover {
  color: #bd2227;
  text-decoration: none;
  background-color: transparent;
}
.btn-link[disabled]:focus,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:focus,
fieldset[disabled] .btn-link:hover {
  color: #777;
  text-decoration: none;
}
.btn-lg {
  padding: 24px 24px;
  font-size: 16px;
  line-height: 1.3333333;
  border-radius: 0;
}
.btn-sm {
  padding: 5px 20px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 15px;
}
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
  width: 100%;
}
.btn-icon {
  width: 48px;
  height: 48px;
  line-height: 1;
}
.btn-icon .icon {
  line-height: 1;
}
.btn:not(.btn-icon) .icon {
  margin-left: 0.5em;
}
.wufoo > ul {
  padding: 0;
  list-style-type: none;
  border: 0;
}
.wufoo > ul > li {
  margin-bottom: 15px;
  margin-bottom: 5px;
}
.wufoo > ul > li:not(.date) > span {
  display: inline-block;
  width: 48%;
}
.wufoo > ul > li:not(.date) > span + span {
  float: right;
}
.wufoo label.desc {
  font-family: DINNextLTPro-Medium, sans-serif;
  font-size: 0.9rem !important;
  font-weight: 400;
  color: #2e2e2e;
  letter-spacing: 0.34px;
}
.wufoo fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.wufoo legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
.wufoo li.focused {
  background-color: #fff4f4 !important;
  background: 0 0;
}
.wufoo .field {
  display: block;
  width: 100%;
  height: 64px;
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 11px 24px;
  font-size: 14px;
  line-height: 1.714285;
  color: #555;
  background-color: #f5f5f5;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
}
.wufoo .field::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.wufoo .field:-ms-input-placeholder {
  color: #999;
}
.wufoo .field::-webkit-input-placeholder {
  color: #999;
}
.wufoo .field::-ms-expand {
  background-color: transparent;
  border: 0;
}
.wufoo .field[disabled],
.wufoo .field[readonly],
fieldset[disabled] .wufoo .field {
  background-color: #eee;
  opacity: 1;
}
.wufoo .field[disabled],
fieldset[disabled] .wufoo .field {
  cursor: not-allowed;
}
.wufoo .field.textarea,
textarea.wufoo .field {
  height: auto;
}
.wufoo .field:focus {
  outline: 0;
}
.wufoo .field.checkbox,
.wufoo .field.radio {
  display: none !important;
}
.wufoo ul li span {
  display: inline-block;
}
.wufoo .eurodate > span {
  display: inline-block;
}
.wufoo .eurodate .symbol {
  padding: 11px 0;
}
.wufoo .eurodate [id^="cal"] {
  margin-top: 11px;
}
.wufoo .info h2,
.wufoo .info h3,
.wufoo .section h2,
.wufoo .section h3 {
  font-family: DINNextLTPro-Medium, sans-serif;
  font-size: 1.15rem !important;
  font-weight: 400;
  border-top: 1px solid #eee;
}
.wufoo .info div,
.wufoo .section div {
  font-size: 14px;
}
.wufoo .info {
  border-bottom: 1px solid #eee;
}
.wufoo .choice {
  margin: 0 !important;
}
.wufoo .choice__text {
  min-height: 23px;
  margin-bottom: 0;
  font-family: DINNextLTPro-Medium, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-transform: uppercase;
  text-transform: none;
  letter-spacing: 0.34px;
  cursor: pointer;
}
.wufoo .btTxt {
  display: inline-block;
  -webkit-appearance: button;
  padding: 9.35px 24px;
  margin-bottom: 0;
  font-family: DINNextLTPro-Medium, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.9;
  color: #000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.34px;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.04);
  background-image: none;
  border: 0;
  border-color: rgba(0, 0, 0, 0.04);
  border-radius: 0;
}
.wufoo .btTxt.active.focus,
.wufoo .btTxt.active:focus,
.wufoo .btTxt.focus,
.wufoo .btTxt:active.focus,
.wufoo .btTxt:active:focus,
.wufoo .btTxt:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.wufoo .btTxt.focus,
.wufoo .btTxt:focus,
.wufoo .btTxt:hover {
  color: #000;
  text-decoration: none;
}
.wufoo .btTxt.active,
.wufoo .btTxt:active {
  background-image: none;
  outline: 0;
}
.wufoo .btTxt.disabled,
.wufoo .btTxt[disabled],
fieldset[disabled] .wufoo .btTxt {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.65;
}
a.wufoo .btTxt.disabled,
fieldset[disabled] a.wufoo .btTxt {
  pointer-events: none;
}
.wufoo .btTxt.focus,
.wufoo .btTxt:focus {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.wufoo .btTxt:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.open > .dropdown-toggle.wufoo .btTxt,
.wufoo .btTxt.active,
.wufoo .btTxt:active {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.open > .dropdown-toggle.wufoo .btTxt.focus,
.open > .dropdown-toggle.wufoo .btTxt:focus,
.open > .dropdown-toggle.wufoo .btTxt:hover,
.wufoo .btTxt.active.focus,
.wufoo .btTxt.active:focus,
.wufoo .btTxt.active:hover,
.wufoo .btTxt:active.focus,
.wufoo .btTxt:active:focus,
.wufoo .btTxt:active:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.open > .dropdown-toggle.wufoo .btTxt,
.wufoo .btTxt.active,
.wufoo .btTxt:active {
  background-image: none;
}
.wufoo .btTxt.disabled.focus,
.wufoo .btTxt.disabled:focus,
.wufoo .btTxt.disabled:hover,
.wufoo .btTxt[disabled].focus,
.wufoo .btTxt[disabled]:focus,
.wufoo .btTxt[disabled]:hover,
fieldset[disabled] .wufoo .btTxt.focus,
fieldset[disabled] .wufoo .btTxt:focus,
fieldset[disabled] .wufoo .btTxt:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-color: rgba(0, 0, 0, 0.04);
}
.wufoo .btTxt .badge {
  color: rgba(0, 0, 0, 0.04);
  background-color: #000;
}
.wufoo .btTxt.submit {
  color: #fff;
  background-color: #df4d52;
  border-color: #db373d;
  padding: 10px 50px;
}
.wufoo .btTxt.submit.focus,
.wufoo .btTxt.submit:focus {
  color: #fff;
  background-color: #d3262c;
  border-color: #7d161a;
}
.wufoo .btTxt.submit:hover {
  color: #fff;
  background-color: #d3262c;
  border-color: #b52126;
}
.open > .dropdown-toggle.wufoo .btTxt.submit,
.wufoo .btTxt.submit.active,
.wufoo .btTxt.submit:active {
  color: #fff;
  background-color: #d3262c;
  border-color: #b52126;
}
.open > .dropdown-toggle.wufoo .btTxt.submit.focus,
.open > .dropdown-toggle.wufoo .btTxt.submit:focus,
.open > .dropdown-toggle.wufoo .btTxt.submit:hover,
.wufoo .btTxt.submit.active.focus,
.wufoo .btTxt.submit.active:focus,
.wufoo .btTxt.submit.active:hover,
.wufoo .btTxt.submit:active.focus,
.wufoo .btTxt.submit:active:focus,
.wufoo .btTxt.submit:active:hover {
  color: #fff;
  background-color: #b52126;
  border-color: #7d161a;
}
.open > .dropdown-toggle.wufoo .btTxt.submit,
.wufoo .btTxt.submit.active,
.wufoo .btTxt.submit:active {
  background-image: none;
}
.wufoo .btTxt.submit.disabled.focus,
.wufoo .btTxt.submit.disabled:focus,
.wufoo .btTxt.submit.disabled:hover,
.wufoo .btTxt.submit[disabled].focus,
.wufoo .btTxt.submit[disabled]:focus,
.wufoo .btTxt.submit[disabled]:hover,
fieldset[disabled] .wufoo .btTxt.submit.focus,
fieldset[disabled] .wufoo .btTxt.submit:focus,
fieldset[disabled] .wufoo .btTxt.submit:hover {
  background-color: #df4d52;
  border-color: #db373d;
}
.wufoo .btTxt.submit .badge {
  color: #df4d52;
  background-color: #fff;
}
@media screen and (max-width: 519px) {
  .wufoo .datepicker {
    display: none !important;
  }
}
.wufoo header#header.info {
  display: none;
}

/* Custom styles for Address Wufoo bundle */
span.addr1,
span.addr2,
span.city,
span.state,
span.zip,
span.country {
  display: flex !important;
  flex-direction: column;
}

span.addr1 > label,
span.addr2 > label,
span.city > label,
span.state > label,
span.zip > label,
span.country > label {
  order: -1;
  font-size: 0.8rem !important;
}

/* Custom styles for stacked radio selection */
.choice__qty {
  display: none;
}

li.notStacked div span {
  margin: 0 20px 0 0;
}
